body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}


.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 30%;
   background-color: aliceblue;

}
.box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   background-color: antiquewhite;
   color: #000;
   margin: 10px;
}